<!--
  Generated template for the BuilderMessagesPage page.
(ionSlideTap)="slideChanged($event)" (ionSlideDidChange)="slideChanged($event)"
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content fullscreen>
  <ion-slides pager #slides (ionSlideDidChange)="slideChanged($event)">
    <ion-slide class="slide-all" *ngFor="let item of msgSent; let i=index;">
      <div class="house" *ngIf="toggle" padding>
        <ion-fab top left>
          <button (click)="open()" ion-fab>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-fab>

        <img src="{{item.data.houseImage}}" alt="">
      </div>
      <ion-header no-border>
        <ion-navbar class="tool-header">
          <ion-buttons right end>
            <button ion-fab (click)="callJoint(item.user.personalNumber)" color="customcall">
              <ion-icon name="call"></ion-icon>
            </button>
          </ion-buttons>

        </ion-navbar>
        <img class="builder" src="../../assets/icon/BuilderShape2.svg" alt="builder">
        <p text-center style="color: #fff;">Quotation Y001</p>
      </ion-header>
      <div [class]="drop ?  'container-drop-fluid' : 'container-fluid'" padding>
        <button ion-button style="background-color: #FFF; color: #000;" (click)="dropDown()"
          class="container-after-pseudo">Quotation details</button>
        <div class="hide-div"></div>
        <div class="content-info" *ngIf="drop">
          <div class="bricks">
            <div class="brick-wrapper">
              <p>{{item.data.brickType}}</p>
              <p>{{item.data.wallType}}</p>
            </div>

            <img src="../../assets/imgs/{{item.data.brickType}}.jpg" class="brick" alt="brick image">

          </div>
          <div class="quotesInfo">
            <div class="startDate">
              <h2 text-center>Start Date</h2>
              <p text-center>{{item.data.startDate}}</p>
            </div>
            <div class="endDate">
              <h2 text-center>End Date</h2>
              <p text-center>{{item.data.endDate}}</p>
            </div>
          </div>
          <div class="extras">
            <h4 text-left>Extras</h4>
            <div class="lists">
              <p class="extra" *ngFor="let e of item.data.extras; let i=index">{{e.name}}</p>
              <!-- Put a forLoop on p tag not on the div -->
            </div>

          </div>
          <div class="comment">
            <p text-left>Comment</p>
            <p text-left>{{item.data.comment}}</p>
          </div>
          <div class="housePlan">
            <button ion-button clear (click)="open()" block>SEE HOUSE PLAN</button>
          </div>
        </div>


      </div>
      <div class="chats" padding>
        <div class="messaging" *ngFor="let chat of msgInfo;">
          <div class="messages" *ngIf="!chat.builder">
            <div class="chat right">
              <div class="texts">
                <p>{{chat.chat}}</p> <!-- Message -->
              </div>


              <!-- Quotes Sent -->
              <div class="pdfContent">
                <!-- <button ion-button block (click)="DownloadPDF()"><ion-icon name="download"></ion-icon></button> -->
              </div>
              <div class="texts">
                <p text-right>{{chat.date | date: "shortTime" : "GMT+2"}}</p>
              </div>

            </div>
          </div>
          <div class="messages" *ngIf="chat.builder">
            <div class="chat left">
              <div class="texts">
                <p>{{chat.chat}} </p>
              </div>
              <div class="texts">
                <p text-left>{{chat.date | date: "shortTime" : "GMT+2"}}</p>
              </div>

            </div>
          </div>

        </div>

      </div>


    </ion-slide>
  </ion-slides>







</ion-content>
<ion-footer class="tool-footer">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col col-8 style="border-radius: 18px; background: #E5E5E5;">
        <ion-textarea type="text" [(ngModel)]="chatMessage" placeholder="Write your Message..."></ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear (click)="respond()">
          <ion-icon name="attach"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-fab color="customsend" (click)="getChats()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>