
    <ion-content [style.backgroundColor]="builder ? '#F2F2F2' : '#203959'">
      <form [formGroup]="signupForm">

     
    <ion-grid >
    
      <!-- logo -->
      <ion-row justify-content-center>
          <ion-col *ngIf="!builder" id="logo" col-3>
                 <img src="../../assets/icon/WhiteLogo.svg">
          </ion-col>
          <ion-col *ngIf="builder" id="logo" col-3>
              <img src="../../assets/icon/Logo.svg">
       </ion-col>
        </ion-row>
    
    <ion-row  justify-content-center>
      <ion-col col-12 >
          <p class="loginuser" [style.color]="builder ? '#262014' : '#F2F2F2'" id="builder">Register here {{userLoggingIn}}</p>
      </ion-col>
    </ion-row>
    
        <!-- inputs -->
        <ion-row justify-content-center no-padding id="inputrow">
    
      <ion-col col-10 >
         <ion-input formControlName="email" (ionFocus)="checkKeyBoardEvents()" (ionBlur)="checkKeyBoardEvents()" ngDefaultControl [style.backgroundColor]="builder ? '#262014' : 'rgba(32, 57, 89, 0.336)'" type="text" placeholder="Email address"></ion-input>
         <p class="error message-error" *ngIf="signupForm.get('email').hasError('required') && (signupForm.get('email').dirty || signupForm.get('email').touched)">Email address is required</p>
         <p class="error message-error" *ngIf="signupForm.get('email').hasError('pattern') && (signupForm.get('email').dirty || signupForm.get('email').touched)">Please enter a valid email address</p>  
        </ion-col>
           
            <ion-col col-10 style="margin-top: 5%">
              <ion-input ngDefaultControl (ionFocus)="checkKeyBoardEvents()" (ionBlur)="checkKeyBoardEvents()" formControlName="password" [style.backgroundColor]="builder ? '#262014' : 'rgba(32, 57, 89, 0.336)'" type="password" placeholder="Password"></ion-input>
              <p class="error message-error" *ngIf="signupForm.get('password').hasError('required') && (signupForm.get('password').dirty || signupForm.get('password').touched)">password is required</p>
              <p class="error message-error" *ngIf="signupForm.get('password').hasError('minlength') && (signupForm.get('password').dirty || signupForm.get('password').touched)">Password must be more than 6 characters </p>    
            </ion-col>
    </ion-row>
    </ion-grid>
    
    <!-- grid 2 for the buttons -->
    <ion-grid id="btns" no-padding>
      <ion-row no-padding>
    
      <ion-col id="signup" col-5  position="left" >
        <div class="button-group-l" [style.backgroundColor]="builder ?  '#A49078 ' : '#015272'" >
            <button ion-fab mini color="light" (click)="goLogin()"><ion-icon name="arrow-back"></ion-icon></button>
          <p>Sign-In</p>   
         </div>
          </ion-col>
    
          <ion-col col-2></ion-col>
    
          <ion-col id="signin" col-5  >
              <div class="button-group-l" [style.backgroundColor]="builder ?  '#262014' : '#F2BE22'" >
                  <p>Sign-Up</p>   
                  <button ion-fab mini color="light" (click)="signupUser(signupForm)" ><ion-icon name="arrow-forward"></ion-icon></button>
             </div>
                </ion-col>
    
      </ion-row>
    </ion-grid>
  </form> 
    </ion-content>
    
