<ion-header no-border>
    <ion-toolbar>
        <ion-buttons start left>
          <button ion-button icon-only color="light" (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
        </ion-buttons>
        <ion-title text-center>Messages</ion-title>
        <ion-buttons end right>
           <button menuToggle ion-button clear ></button>
         </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--   <div class="header">
        <img src="../../assets/icon/Yakha-assets/ownerShape.svg" alt="" class="fixed-image"> 
     
      <ion-toolbar>
        <ion-buttons start left>
          <button ion-fab style="border: none; box-shadow: none;" color="ownerbutons" (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
        </ion-buttons>
        <ion-title text-center>Messages</ion-title>
        <ion-buttons end right>
           <button menuToggle ion-button clear ></button>
         </ion-buttons>
      </ion-toolbar>
     </div>
<div class="homebuilder" *ngIf="respond.length > 0">
  <div class="cards" *ngFor =" let b of respond"> Put a forloop here 
       <div class="images">
        <img src="{{b.user.image}}" class="thumb-home-builder"  alt="profile">
         </div>
      <div class="informative" >
        <h6 style="font-size: 2.5vh;padding-left: 5%">{{b.user.fullName}}</h6>
        <p style="font-size: 2vh;">{{b.user.date | date}} </p>
      </div>
      <div  (click)="gotoMessages(b.user.uid, b.user.fullName)" class="button-group-name" >
        <p style="text-align: center; color: #fff;">View</p>
        <button ion-fab mini color="light" ><ion-icon name="arrow-forward"></ion-icon></button>
      </div>
    </div>
 
    </div>
    <div class="no-messages">
        <p *ngIf="respond.length == 0" style="text-align: center;">You have no responses yet</p>
      </div>
  -->
    <main class="main"></main>
    <div class="container">
       <div class="no-messages"  *ngIf="respond.length == 0">
        <p>You have no messages yet!</p>
      </div> 

   <div class="cards" *ngIf="respond.length > 0"  padding>
   
     <div class="card" *ngFor =" let b of respond">
        <div class="profile">
            <img src="{{b.user.image}}" alt="">
          </div>
          <div class="info-to-card">
            <h4>{{b.user.fullName}}</h4>
            <p>{{b.user.date | date}}</p>
          </div>
          <div class="btn-request" >
              <p>View</p>
              <button (click)="gotoMessages(b.user.uid, b.user.fullName)" ion-fab color="light"><ion-icon name="arrow-forward"></ion-icon></button>
            </div>
     </div>
       
      </div>
    
    </div>
</ion-content>
