<ion-header no-border>
<ion-toolbar class="tools-header" *ngIf="!isProfile">
  <ion-buttons left start>
    <button ion-fab *ngIf="back" (click)="cancelProfile()"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar  *ngIf="isProfile">
  <ion-buttons left>
    <button ion-fab (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-buttons>
  <ion-buttons right>
     
          <div class="group-button" (click)="SignOut()">
              <p>Logout</p>
              <button ion-fab color="light" (click)="SignOut()"><ion-icon name="arrow-forward"></ion-icon></button>
            </div> 
      
  </ion-buttons>
</ion-toolbar>

</ion-header>

<ion-content fullscreen padding>
    <ion-slides>
      <ion-slide>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-4></ion-col>
            <ion-col col-10>
              <ion-item>
                <ion-label start left><ion-icon name="person"></ion-icon></ion-label>
                <ion-input type="text" placeholder="Full Name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-10>
                <ion-item no-lines>
                  <ion-label start left><ion-icon name="person"></ion-icon></ion-label>
                  <ion-input type="text" placeholder="Full Name"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-10>
                  <ion-item no-lines>
                    <ion-label start left><ion-icon name="person"></ion-icon></ion-label>
                    <ion-input type="text" placeholder="Full Name"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-10>
                    <ion-item no-lines>
                      <ion-label start left><ion-icon name="person"></ion-icon></ion-label>
                      <ion-input type="text" placeholder="Full Name"></ion-input>
                    </ion-item>
                  </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
</ion-content>
