<ion-header no-border>
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
        <div class="maploader">
          <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        <div class="loading-text">
      
        </div>
      </div>
  <ion-toolbar class="tools-header" *ngIf="!isProfile">
    <ion-buttons left start>
      <button ion-fab *ngIf="back" (click)="cancelProfile()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar  *ngIf="isProfile">
    <ion-buttons left>
      <button ion-fab (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-buttons right>
       
            <div class="group-button" (click)="SignOut()">
                <p>Logout</p>
                <button ion-fab color="light" ><ion-icon name="arrow-forward"></ion-icon></button>
              </div> 
        
    </ion-buttons>
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content fullscreen>
  <!--  -->
  <form padding [style.display]="status ? 'block' : 'none'" [formGroup]="profileForm" *ngIf="!isProfile">
  
     <ion-slides (ionSlideDidChange)="currentSlide($event)" #slides>
      <ion-slide formGroupName="profileFormFirstSlide">
         
  
              <div class="image-profile-builder">
                  <img *ngIf="profileImage" src="{{profileImage}}" class="thumbnail-image" (click)="selectImage()">
                  <img *ngIf="!profileImage" src="../../assets/icon/Yakha-assets/_ionicons_svg_ios-person.svg" class="holder">
                <button class="btn-create" mini ion-fab color="light" (click)="selectImage()"><ion-icon name="create"></ion-icon></button>
              </div>
              <p class="error" *ngIf="!profileForm.get('profileFormFirstSlide').get('builder').value">Please Upload a profile image</p>
  
              <ion-grid padding>
                  <ion-row align-items-center>
                    <ion-col col-12>
                        <ion-item no-lines>
                            <ion-input formControlName="fullName" [(ngModel)]="builderProfile.fullName" ngDefaultControl type="text" name="fullName" placeholder="Full Name"></ion-input>
                            </ion-item>
                 <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('fullName').hasError('required') && (profileForm.get('profileFormFirstSlide').get('fullName').dirty || profileForm.get('profileFormFirstSlide').get('fullName').touched)">Full name is required</p>
                 <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('fullName').hasError('parttern') && (profileForm.get('profileFormFirstSlide').get('fullName').dirty || profileForm.get('profileFormFirstSlide').get('fullName').touched)">Name must be at least 4 characters long.</p>
                 <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('fullName').hasError('minlength') && (profileForm.get('profileFormFirstSlide').get('fullName').dirty || profileForm.get('profileFormFirstSlide').get('fullName').touched)"></p>
                 <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('fullName').hasError('maxlength') && (profileForm.get('profileFormFirstSlide').get('fullName').dirty || profileForm.get('profileFormFirstSlide').get('fullName').touched)"></p>
               
                    </ion-col>
                      
                    <ion-col col-12>
                        <ion-item no-lines>
                            <ion-select formControlName="gender" name="gender" [(ngModel)]="builderProfile.gender"
                              cancelText="Dismiss">
                              <ion-option selected="true" disabled="true" value="">Select Gender</ion-option>
                              <ion-option value="Female">Female</ion-option>
                              <ion-option value="Male">Male</ion-option>
                            </ion-select>
                          </ion-item>
                          <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('gender').hasError('required') && (profileForm.get('profileFormFirstSlide').get('gender').dirty || profileForm.get('profileFormFirstSlide').get('gender').touched)">Gender is required</p>
               
                    </ion-col>
                    <ion-col col-12>
                        <ion-item no-lines>
                            <ion-input formControlName="personalNumber" name="personalNumber" [(ngModel)]="builderProfile.personalNumber" ngDefaultControl type="tel" maxlength="10" placeholder="Cell phone number"></ion-input>
                          </ion-item>
                          <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('personalNumber').hasError('required') && (profileForm.get('profileFormFirstSlide').get('personalNumber').dirty || profileForm.get('profileFormFirstSlide').get('personalNumber').touched)">Phone number is required</p>
                   
                    </ion-col>
                  <!--   <ion-col col-12>
                   <ion-item no-lines>
                     <input placeholder="Address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="address">
           
                   </ion-item>
                    <p class="error" *ngIf="profileForm.get('profileFormFirstSlide').get('address').hasError('required') && (profileForm.get('profileFormFirstSlide').get('address').dirty || profileForm.get('profileFormFirstSlide').get('address').touched)">Address is required</p>
                   
                    </ion-col> -->
  
                    
                  </ion-row>
                  <ion-row align-items-center>
                      <ion-col>
                          <button class="next" round ion-button color="dark" [disabled]="this.profileForm.get('profileFormFirstSlide').invalid"  (click)="nextslides()">Next</button>
                      </ion-col>
                    </ion-row>
                </ion-grid>
              
            
              
         
         
               
         
       
      </ion-slide>
  
      <ion-slide formGroupName="profileFormSecondSlide">
  
           <ion-grid padding>
              <ion-row align-items-center>
                  <ion-col col-12>
                    <h2 text-center>Builder's Details</h2>
                    <p text-center><small>Almost Done</small></p>
                  </ion-col>
                  <ion-col col-12>
                      <ion-item no-lines>
                          <ion-input type="tel"  maxLength="7" formControlName="price" name="price" [(ngModel)]="builderProfile.price" placeholder="Price per square meter (p/&#13217;)"></ion-input>
                          </ion-item>
                          <p class="error" *ngIf="profileForm.get('profileFormSecondSlide').get('price').hasError('required') && (profileForm.get('profileFormSecondSlide').get('price').dirty || profileForm.get('profileFormSecondSlide').get('price').touched)">Please specify the price per square meter</p>
                  </ion-col>
             
  
                <ion-col col-12>
                    <ion-item no-lines>
                        <ion-input formControlName="experience" name="experience" [(ngModel)]="builderProfile.experiences" type="text" placeholder="Experience" name="experience" placeholder="Experience (e.g 3 years) "></ion-input>
                      </ion-item>
                      <p class="error" *ngIf="profileForm.get('profileFormSecondSlide').get('experience').hasError('required')  && (profileForm.get('profileFormSecondSlide').get('experience').dirty || profileForm.get('profileFormSecondSlide').get('experience').touched)">Experience is required</p>
                </ion-col>
                <ion-col col-12>
                    <ion-item no-lines>
                        <ion-label color="dark" left>Price include roofing?</ion-label>
                        <ion-checkbox color="dark" formControlName="roof" name="roof" [(ngModel)]="builderProfile.roof" cancelText="Dismiss"></ion-checkbox>
                      </ion-item>
                </ion-col>
                <ion-col col-12>
                      <ion-item no-lines>
                          <ion-label  color="dark">Are you certified?</ion-label>
                          <ion-checkbox color="dark"  formControlName="certified" name="certified" [(ngModel)]="builderProfile.certified"></ion-checkbox>
                        </ion-item>
                </ion-col>
                <ion-col col-12 [style.display]="!profileForm.get('profileFormSecondSlide').get('certified').value ? 'none' : 'block'">
                    <ion-item no-lines>
                        <ion-input formControlName="regNo" placeholder="Registration Number" [(ngModel)]="builderProfile.regNo"></ion-input>
                      </ion-item>
                      <p class="error" *ngIf="regNo.hasError('required')">Registration Number is required</p>
                      
                </ion-col>
                
              </ion-row>
              <ion-row align-items-center>
                  <ion-col>
                      <button class="next" round ion-button color="dark"  (click)="createprofile(profileForm)">Done</button>
                  </ion-col>
                </ion-row>
            </ion-grid>
      </ion-slide>
    </ion-slides>
  </form>
   
   <div id="pro" [style.display]="status ? 'block' : 'none'" class="profiles" *ngIf="isProfile">
     
    
    <div class="propic">
      <img *ngIf="builderProfile.image" src="{{builderProfile.image}}" class="thumbavatar" >
      <img *ngIf="!builderProfile.image" src="../../assets/imgs/team-avatar.jpg" class="thumbavatar" >
      <div class="names">
     <h4>{{builderProfile.fullName}}</h4>
     <p id="adres">{{builderProfile.address}}</p>
   </div>
   
     
  </div>
  
  <div class="infocontent">
    <div class="cert">
        <h3>PROFILE</h3>
     <div class="flag" *ngIf="builderProfile.certified">
      <span>C</span>
     </div>
  
   </div>
  
  
    <div class="infor" padding>
        <p>Gender</p>
        <h5>{{builderProfile.gender}}</h5> 
        <p>Experience</p>
        <h5>{{builderProfile.experiences}} years.</h5>
        <p>Cost</p>
        <h5>{{builderProfile.price | currency:'&#82;'}}(p/&#13217;)</h5>
        <p>Roofing</p>
        <h5 *ngIf="builderProfile.roof">Including roofing</h5>
        <h5 *ngIf="!builderProfile.roof">Do not include roofing</h5>
    </div>
    
    
    </div>
  
    
    
    
  
    
  
    </div>
   
  
  
  <div class="statusApproval" *ngIf="!status">
  <div class="top">
    <img src="../../assets/icon/Yakha-assets/LogoOnSpash.svg">
  </div>
  <h5 style="text-align: center;">Thank you for requesting an account with us.
    Please wait while we process your application.
    This might take up to 24 hours.</h5>
  <div class="bottom"></div>
  </div>
  
  
  
     
  </ion-content>
  <ion-footer no-border>
      <ion-toolbar class="tools-footer" *ngIf="!isProfile">
        </ion-toolbar>
        <ion-toolbar *ngIf="isProfile">
            <ion-buttons right >
         
                <div style="background: #D98E04;" class="group-button" (click)="editProfile()">
                    <p>Edit Profile</p>
                    <button ion-fab color="light" (click)="editProfile()"><ion-icon name="arrow-forward"></ion-icon></button>
                  </div> 
            
        </ion-buttons>
        </ion-toolbar>
        
  </ion-footer>
