@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');
page-home {



    .scroll-content { padding-bottom: 0 !important; } 

    .searchbar {
        transition: all 500ms;
        animation-name: slideInSearch;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: translate(100%, 0%);
    }
   

    @keyframes slideInSearch {
        0% {
            transform: translate(100%, 0);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }
   .header {
       .toolbar-background {
           background: transparent;

          
       }
       .toolbar-content {
        .title {
           .toolbar-title {
            color: color($colors, dark);
           }
        }
       }
   }
   .main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: url('../../assets/imgs/splash.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        transition: all 500ms;
        animation-name: zoomIn;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: scale(0.5);
       
   }

 

   .container {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        animation-name: zoomIn;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: scale(0.5);
        overflow: hidden;

        .profile-container {
            flex: 0 0 20%;
            height: 20%;
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            align-items: center;
            //border: 1px solid red;
            .profile {
                 height: 70%; 
                flex-basis: 50%;
                border-radius: 0 50px 50px 0;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .profile-info {
                padding: 1em;
                box-sizing: border-box;
                flex: 1;
                
                h4, p {
                    margin: 0 !important;
                    font-size: 80%;
                    color: rgb(34, 34, 34);
                    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
        .slides {
            flex: 0 0 30%;
            flex-shrink: 0;
            border-radius: 2em 2em 0 0;
            background: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            box-shadow: -1px 0 6px rgba(128, 128, 128, 0.301);

            .location {
                flex: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                padding: .5em;

                p {
                    margin: 0 !important;
                    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 2vh;
                    font-weight: 500;
                    text-align: center;
                    color: #646464;
                    
                }

            }
            .overflow-slides {
                flex-grow: 1;
                flex-shrink: 0;
                overflow: auto;
                display: flex;
                flex-wrap: nowrap;
                animation-name: skewUp;
                animation-duration: 500ms;
                animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                transform: skew(20deg);

                .slides-card {
                    flex: 0 0 80%;
                    padding: .5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   .slide {
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
                    height: 80%;
                    width: 100%;
                    border-radius: 9px;
                    display: flex;
                    position: relative;
                    
                    .profile {
                        flex-basis: 40%;
                        overflow: hidden;
                        border-radius: 9px;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .information {
                        padding: .5em;
                        p {
                            margin: 0 !important;
                            font-size: 90%;
                            color: #646464;
                        }
                        .name, .price {
                            font-weight: bold;
                        }
                        .name {
                            font-size: 100% !important;
                            color: #646464;
                        }
                        .price {
                            color: rgb(255, 208, 0);
                        }

                    }

                    .btn-request {
                        height: 4vh;
                        width: 40%;
                        background: #ffd000;
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        position: absolute;
                        bottom: -2vh;
                        right: 5%;
                        border-radius: 50px;
                        p {
                            text-align: center;
                            color: #fff;
                            font-size: 2vh;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            flex: 1;
                        }

                        button {
                            height: 4vh;
                            width: 4vh;
                            box-shadow: none;

                            .icon {
                                font-size: 2vh;
                            }
                        }
                       
                    }
                    
                }

                }
                .slides-card:active {
                   filter: saturate(10%); 
                }
                @media only screen and (min-width: 600px) { 
                    .slides-card {
                        flex: 0 0 50%;
                        height: 80%;
                    }  
                }
                @media only screen and (min-width: 768px) { 
                    .slides-card {
                        flex: 0 0 45%;
                      
                    }  
                }
                @media only screen and (min-width: 992px) { 
                    .slides-card {
                        flex: 0 0 40%;
                      
                    }  
                }
                @media only screen and (min-width: 1200px) { 
                    .slides-card {
                        flex: 0 0 35%;
                      
                    }  
                }
                

            }


        }
        .cards {
            /* flex-basis: 50%; */
            background: rgb(100, 100, 100);
            border-radius: 1em 1em 0 0;
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            position: absolute;
            top: 50%;
            border-radius: 15px 15px 0 0;
            left: 0;
            width: 100%;
            height: 50%;
            transition: all 500ms;
            
            .viewSection {
                flex-basis: 10%;
                padding: 1em;
                display: flex;
                justify-content: space-between;
                position: relative;
                flex-shrink: 0;
                p.all, p {
                    color: #fff;
                    margin: 0 !important; 
                }
                p.all:active {
                    background: #6464642d;
                    color: rgb(209, 209, 209);
                }
              
            }   
            .all-builders {
                flex-basis: 95%;
                //flex-shrink: 0;
                flex-grow: 0;
                overflow: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                justify-content: space-between;
                margin-top: 2%;

                .card-content-container{
                    flex-basis: 50%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    //border: 1px solid #ddd;
                    width: 50%;
                    height: 80%;
                    padding-right: .5em;
                    padding-left: .5em;
                    margin-bottom: 5%;
                }
                .cards-builders {
                    /* flex: 0 0 45%; */
                    /* margin-bottom: 5%; */
                    width: 100%;
                    height: 100%;
                    border-radius: 1em;
                    display: flex;
                    flex-direction: column;
                    background: #fff;
                     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
                    position: relative;
                    .title {
                        flex-basis: 10%;
                        p {
                            font-size: 100%;
                            padding: .3em;
                            text-align: center;
                            font-weight: bold;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                        }

                    }
                    .image {
                        flex-basis: 50%;
                        overflow: hidden;
                        flex-grow: 0;
                        flex-shrink: 0;
                        border-radius: 1em;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                        }
                    }
                    .info-card-builder {
                        flex-basis: 40%;
                        flex-direction: column;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        padding-top: .5em;
                        p {
                            font-size: 80%;
                            margin: 0 !important;
                            
                        }
                        p:first-child {
                            color: #ffd000;
                            font-weight: bold;
                            font-size: 100%;
                        }

                    }
                    .londan {
                        flex-basis: 10%;
                        height: 10%;
                      

                    }
                    .btn-request {
                        height: 4vh;
                       
                        background: rgb(255, 208, 0);
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        position: absolute;
                        bottom: -2vh;
                        left: 15%;
                        right: 15%;
                        border-radius: 50px;
                        p {
                            text-align: center;
                            color: #fff;
                            font-size: 2vh;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            flex: 1;
                        }

                        button {
                            height: 4vh;
                            width: 4vh;
                            box-shadow: none;

                            .icon {
                                font-size: 2vh;
                            }
                        }
                       
                    }

                }
            }
            @media only screen  and(min-width: 600px){
                .all-builders {
                    justify-content: flex-start;

                    .card-content-container {
                        flex-basis: 33.333%; 
                        width: 33.333%;
                        margin-bottom: 4%;
                        height: 60%;
                        .cards-builders {
                            flex: 0 0 25%; 
                            
                        }
                    }
                    
                }
            }

        }
        .cards-expand {
            position: absolute;
            top: 0%;
            border-radius: 15px 15px 0 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 500ms;
            background: rgb(100, 100, 100);
              
            .viewSection {
                flex-basis: 10%;
                padding: 1em;
                display: flex;
                justify-content: space-between;
                p.all {
                    color: #fff; 
                }
                p.all:active {
                    background: #6464642d;
                    color: rgb(209, 209, 209);
                }
              
            } 
            .all-builders {
                flex-basis: 90%;
                display: flex;
                flex-wrap: wrap;
                //flex-shrink: 0;
                flex-grow: 0;
                justify-content: flex-start;
                justify-content: space-between;
                margin-top: 1%;
                .card-content-container{
                    flex-basis: 50%;
                   // border: 1px solid #ddd;
                    flex-shrink: 0;
                    flex-grow: 0;
                    width: 50%;
                    height: 56vw;
                    padding-right: .5em;
                    padding-left: .5em;
                    margin-bottom: 5%;
                }
                .cards-builders {
                   /*  flex: 0 0 45%;
                    margin-bottom: 5%; */
                    flex-shrink: 0;
                    flex-grow: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 1em;
                    display: flex;
                    flex-direction: column;
                    background: #fff;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);

                    .btn-request {
                        height: 6vw;
                       
                        background: rgb(255, 208, 0);
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        position: absolute;
                        bottom: -3vw;
                        left: 15%;
                        right: 15%;
                        border-radius: 50px;
                        p {
                            text-align: center;
                            color: #fff;
                            font-size: 3vw;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            flex: 1;
                        }

                        button {
                            height: 6vw;
                            width: 6vw;
                            box-shadow: none;

                            .icon {
                                font-size: 3vw;
                            }
                        }
                       
                    }
                }

              
            }
            @media only screen  and(min-width: 600px){
                .all-builders {
                    justify-content: flex-start;
                    .card-content-container {
                        flex-basis: 33.333%; 
                        width: 33.333%;
                        height: 40%;
                        
                        .cards-builders {
                            flex: 0 0 25%; 
                        }
                    }
                    
                }
            }
        }
   }
   @keyframes zoomIn {
    0% {
        transform: scale(0.5);
        filter: saturate(0%);
    }
  
    100% {
        transform: scale(1);
       
    }
}
@keyframes skewUp {
    0% {
        transform: skew(30deg);
    }
  
    100% {
        transform: skew(0deg);
    } 
}

@media only screen and (min-width: 600px) {
   .slides {
        background: red;
        .slides-card {
            flex: 0 0 70%;
        }
       
   }
}


/* Builders start here */
.container-builders{
height: 100%;
width: 100%;
position: relative;
display: flex;
flex-direction: column;
animation-name: zoomIn;
animation-duration: 500ms;
animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
animation-iteration-count: 1;
animation-fill-mode: forwards;
transform: scale(0.5);
overflow: auto;
background: rgba(255, 255, 255, 0.747);
border-radius: 2em 2em 0 0;
box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.205);

}
.no-messages-builders {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p {
      margin:  0 !important;
      font-weight: bold;
      color: #333;
      font-size: 100%;
    }
  }
  
  .cards-builders-homebuilder-side {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 1em 1em 0 0;
    display: flex;
    flex-direction: column;
    
  
    .card-builders {
      flex: 0 0 20%;
      background: rgba(255, 255, 255, 0.726);
      height: 20%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
      border-radius: 1em;
      margin-bottom: 10%;
      .profile-builders {
         flex-basis: 30%;
         overflow: hidden;
         border-radius: 1em;
         box-shadow: 0 3px 6px rgba(0, 0, 0, 0.027), 0 3px 6px rgba(0, 0, 0, 0.11);
         img {
           height: 100%;
           width: 100%;
           object-fit: cover;
          
         }
      }
      .btn-request-builders {
        height: 4vh;
        width: 40%;
        background: #ffd000;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        position: absolute;
        bottom: -2vh;
        right: 5%;
        border-radius: 50px;
        p {
            text-align: center;
            color: #fff;
            font-size: 2vh;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            flex: 1;
        }
  
        button {
            height: 4vh;
            width: 4vh;
            box-shadow: none;
  
            .icon {
                font-size: 2vh;
            }
        }
       
    }
    .info-to-card-builders {
      padding: .8em;
       h4, p {
         font-size: 100%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
    }
    }
  }
}