<!-- <ion-content >
  <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">
      <div class="maploader">
        <div class="lds-facebook"><div></div><div></div><div></div></div><p style="color:white;">Loading..</p>
      </div> -->
<!--  <div class="loading-text">
        <p>Loading Map</p>
      </div> -->
<!--     </div> -->
<!-- <div class="header" *ngIf="header">
   <img src="../../assets/icon/Yakha-assets/BuilderShape2.svg" alt="" class="fixed-image"> 

 <ion-toolbar>
   <ion-buttons start left>
     <button menuToggle ion-button clear ><ion-icon name="menu"></ion-icon></button>
   </ion-buttons>
   <ion-title text-center>Requests</ion-title>
   <ion-buttons end right>
      <button menuToggle ion-button clear ></button>
    </ion-buttons>
 </ion-toolbar>
</div>

<div class="homebuilder" id="req">
    <div  *ngFor="let o of owner" (click)="viewRequest(o.id, o.user.uid)">
      <div class="cards" *ngIf="o.user">
          <div class="images">
              <img *ngIf="o.user.image" src="{{o.user.image}}" class="thumb-home-builder" (click)="viewProfile(o.user.image)" alt="profile">
              <img *ngIf="!o.user.image" src="../../assets/imgs/team-avatar.jpg" class="thumb-home-builder" alt="profile">
            </div>
            <div class="informative" >
              <h6 style="font-size: 2.5vh;">{{o.user.fullName}} </h6>
              <p style="font-size: 2vh;">{{o.user.date | date}}</p> 
           
            </div>
            <div class="button-group-name">
              <p style="text-align: center; color: #fff;">View</p>
              <button ion-fab mini color="light"><ion-icon name="arrow-forward"></ion-icon></button>
            </div>
          </div> 
          <div *ngIf="!o.user" class="no-messages">
              <p style="text-align: center;">You have no requests yet</p>
          </div>
      </div>

      
     
      </div>
  <div #map id="map" (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')">

    </div>
   
   
<div class="searchLocation">
<div class="yakha-search">
 
  <button *ngIf="menuShow" ion-fab small menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-searchbar class="input-bar-search" placeholder="Search by location" (ionFocus)="checkKeyboard('open')" (ionBlur)="checkKeyboard('close')">
</ion-searchbar>
</div> 
</div>  -->
<!-- <div class="control" *ngIf="!header">

<div class="searchBar">
 <button style="background-color: transparent;box-shadow: none;" ion-fab clear (click)="getPosition()"><ion-icon name="pin"></ion-icon></button>
 <ion-item no-lines style="border-radius: 50px;" *ngIf="range">
    <ion-range pin=true min="0" max="1000" [(ngModel)]="price" (ionChange)="setPriceRange(price)">
    
     <ion-label range-left color="primary">{{0 | currency:'&#82;'}}</ion-label>
     <ion-label range-right color="primary">{{1000 | currency:'&#82;'}}</ion-label>
    </ion-range>
    </ion-item>
    <p *ngIf="!range" style="font-size: 12px;">These are the builders we found around this location</p> 
    <button style="background-color: transparent;box-shadow: none;" ion-fab (click)="RangeSearch()"><img src="../../assets/icon/filter-solid.svg" alt=""></button>
</div>
</div> -->
<!-- <div class="slider" *ngIf="!header">
  <div class="searchRange">
      <button class="btn1" ion-fab mini (click)="getPosition()"><ion-icon name="pin" style="color:#203959"></ion-icon></button>
    <ion-item no-lines *ngIf="range">
      <ion-range pin=true min="0" max="1000" [(ngModel)]="price" (ionChange)="setPriceRange(price)">
      
       <ion-label range-left color="primary" style="font-size: 2vh;">{{price | currency:'&#82;'}}</ion-label>
       <ion-label range-right color="primary" style="font-size: 2vh;">{{1000 | currency:'&#82;'}}</ion-label>
      </ion-range>
      </ion-item>
      <p *ngIf="!range" style="font-size: 1.6vh;letter-spacing: 0.2px; color: #0c1624;">These are the builders we found around this location</p> 
      <button class="btn2" ion-fab (click)="RangeSearch()"><img src="../../assets/icon/filter-solid.svg" alt=""></button>
</div>
  <div class="main-slide">
<ion-slides class="slide-moment" #slides spaceBetween="-65" centeredSlides="true"  (ionSlideDidChange)="moveMapEvent($event)">
  <ion-slide class="magic" *ngFor="let b of builder">
    <div class="card" >

        <div class="image" (click)="viewBuilderInfo(b)">
            <img *ngIf="b.image" src="{{b.image}}" class="thumbnail-image" alt="tough">
            <img *ngIf="!b.image" src="../../assets/imgs/team-avatar.jpg" class="thumbnail-image" alt="tough">
          <div class="text-holder" text-left style="font-size: 2.5vh;">
                <p style="font-weight: 700; font-size: 2.7vh;">{{b.fullName}}</p>
                <p class="price" style="color: #F2BE22;font-weight: 500;">{{b.price  | currency:'&#82;'}}(p/&#13217;)<span style="color: rgb(141, 141, 141); font-size: 2vh;"> excluding roofing</span> </p>
                <p  class="stars" style="font-size: 2vh;">{{b.experiences}} years in building experience</p>
                <p style="font-size:2vh; color:rgb(61, 61, 61);" *ngIf="total">{{total}} km away driving</p>
             </div>
        </div>
        <div class="rate" *ngIf="b.certified"><p style="font-size: 2.5vh;">C</p></div> -->
<!--   <div *ngFor="let a of buildesAverage" >
          <ionic3-star-rating #rating id="ratings" *ngIf="b.uid==a.uid"
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#F2BE22"
          defaultColor = "#F2BE22"
          readonly="true"
          rating="{{a.avg}}"
          fontSize = "15px"
          >
        </ionic3-star-rating>
      
        </div> -->
<!--         
        <div class="button-group-l" (tap)="rShortcut(b.uid)">
            <p>Request</p>   
            <button (click)="rShortcut(b.uid)" ion-fab mini color="light" ><ion-icon name="arrow-forward"></ion-icon></button>
       
          </div> -->
<!-- <div class="info">
        
        <div class="button-group">
          <p>Request</p>
        </div>

      </div> -->
<!-- </div> 
</ion-slide>
</ion-slides>  
  </div>

</div>
 -->
<!-- <input *ngIf="!header" class="controls" (ngModelChange)="search($event)" placeholder="Search by Name">

<ion-fab *ngIf="!header" right style="align-self:center; justify-self: flex-end" >
 <button class="searching" ion-fab><ion-icon name="search"></ion-icon></button>
 <ion-fab-list>
   <button ion-fab mini style="background-color: chocolate; color: white; font-size: 30px;" (click)="LocationSearch()"><ion-icon  name="search"></ion-icon></button>
   <button ion-fab mini style="background-color: chocolate; color: white; font-size: 30px;" (click)="nameSearch()"><ion-icon name="person"></ion-icon></button>
   <button ion-fab mini style="background-color: chocolate; color: white; font-size: 30px;" (click)="RangeSearch()"><ion-icon name="cash"></ion-icon></button>
 </ion-fab-list>
</ion-fab> -->

<!-- <ion-item no-lines *ngIf="range">
<ion-range pin=true min="0" max="1000" [(ngModel)]="price" (ionChange)="setPriceRange(price)">

<ion-label range-left color="primary">{{0 | currency:'&#82;'}}</ion-label>
<ion-label range-right color="primary">{{1000 | currency:'&#82;'}}</ion-label>
</ion-range>
</ion-item> -->

<!-- </ion-content> -->

<!-- <ion-header no-border>
    <ion-toolbar>
        <ion-buttons left start>
            <button icon-only ion-button menuToggle color="light">
        <ion-icon name="menu"></ion-icon>
      </button>
        </ion-buttons>
        <ion-searchbar *ngIf="activateSearch" (ionFocus)="keyboardListener($event)"></ion-searchbar>
        <ion-buttons right end>
            <button icon-only ion-button (click)="openSearch()" color="light">
        <ion-icon [name]="icon"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<!--
<ion-content fullscreen>
    <div class="container">
        <div class="profile">
            <div class="profile-image">
                <img src="../../assets/imgs/maps.svg" alt="builders" class="img">
            </div>
            <div class="profile-information">
                <h1 style="font-size: 3vh;font-weight: 500;">Mokoena bakwena</h1>
                <p style="font-size: 2.2vh;font-weight: 400;"><small>codetribe, soweto, Johannesburg</small></p>
            </div>
        </div>

        <div class="nearby-builders">
            <h1 text-center style="font-size: 3vh;font-weight: 500;">Builders in Soweto</h1>
            <div class="slide-view">
              <div class="card">
                 <div class="profile">
                   <img src="../../assets/imgs/builders.png" alt="">
                 </div>
                 <div class="info">
                   <h4>Khuthy builder</h4>
                   <p style="color: #ffd000; font-weight: bold;">R500.00</p>
                   <p>2 years Exp</p>
                 </div>
                <div class="btn-body" style="background: #ffd000;">
                  <p style="color: #fff">Request</p>
                  <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
              </div>
              </div>  
              <div class="card">
                <div class="btn-body" style="background: #ffd000;">
                  <p style="color: #fff">Request</p>
                  <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
              </div>
              </div>  
              <div class="card">
                <div class="btn-body" style="background: #ffd000;">
                  <p style="color: #fff">Request</p>
                  <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
              </div>
              </div>  
            </div>
        </div>
        <div class="all-builders">
            <div class="other-builders" padding-top padding-left padding-right>
                <p>Other Builders</p>
                <button clear color="light" (click)="showAllBuilders()" ion-button>{{btnAll}}
                <ion-icon  [name]="iconAll"></ion-icon>
              </button>
            </div>
            <div class="cards" padding>
                <div class="card">
                    <div class="builder-name">
                            <p text-center>Muenda Khuthy</p>
                    </div>
                    <div class="builder-image">
                        <img src="../../assets/imgs/builders.png" alt="" class="img">
                    </div>
                    <div class="builder-info">
                        <p text-left style="font-weight: 700; color: #ffd000;">{{400 | currency : '&#82;'}}</p>
                        <p text-right>2 Exp</p>
                        <p text-center style="font-size: 1.5vh;">Include Roofing</p>
                    </div>
                    <div class="btn-body" style="background: #ffd000;">
                        <p style="color: #fff">Request</p>
                        <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
                    </div>
                </div>
               
                <div class="card">
                        <div class="builder-name">
                                <p text-center>Muenda Khuthy</p>
                        </div>
                        <div class="builder-image">
                            <img src="../../assets/imgs/builders.png" alt="" class="img">
                        </div>
                        <div class="builder-info">
                            <p text-left style="font-weight: 700; color: #ffd000;">{{400 | currency}}</p>
                            <p text-right>2 Exp</p>
                            <p text-center style="font-size: 1.5vh;">Include Roofing</p>
                        </div>
                        <div class="btn-body" style="background: #ffd000;">
                            <p style="color: #fff">Request</p>
                            <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
                        </div>
                    </div>
                    <div class="card">
                      <div class="builder-name">
                              <p text-center>Muenda Khuthy</p>
                      </div>
                      <div class="builder-image">
                          <img src="../../assets/imgs/builders.png" alt="" class="img">
                      </div>
                      <div class="builder-info">
                          <p text-left style="font-weight: 700; color: #ffd000;">{{400 | currency}}</p>
                          <p text-right>2 Exp</p>
                          <p text-center style="font-size: 1.5vh;">Include Roofing</p>
                      </div>
                      <div class="btn-body" style="background: #ffd000;">
                          <p style="color: #fff">Request</p>
                          <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
                      </div>
                  </div>
                  <div class="card">
                    <div class="builder-name">
                            <p text-center>Muenda Khuthy</p>
                    </div>
                    <div class="builder-image">
                        <img src="../../assets/imgs/builders.png" alt="" class="img">
                    </div>
                    <div class="builder-info">
                        <p text-left style="font-weight: 700; color: #ffd000;">{{400 | currency}}</p>
                        <p text-right>2 Exp</p>
                        <p text-center style="font-size: 1.5vh;">Include Roofing</p>
                    </div>
                    <div class="btn-body" style="background: #ffd000;">
                        <p style="color: #fff">Request</p>
                        <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
                    </div>
                </div>

                    <div class="card">
                            <div class="builder-name">
                                    <p text-center>Muenda Khuthy</p>
                            </div>
                            <div class="builder-image">
                                <img src="../../assets/imgs/builders.png" alt="" class="img">
                            </div>
                            <div class="builder-info">
                                <p text-left style="font-weight: 700; color: #ffd000;">{{400 | currency}}</p>
                                <p text-right>2 Exp</p>
                                <p text-center style="font-size: 1.5vh;">Include Roofing</p>
                            </div>
                            <div class="btn-body" style="background: #ffd000;">
                                <p style="color: #fff">Request</p>
                                <button ion-fab color="light" (click)="fab()"><ion-icon style="font-size: 2.8vh;" name="arrow-forward"></ion-icon></button>
                            </div>
                        </div>

            </div>
        </div>
    </div>


</ion-content>  
-->
<ion-header no-border>
  <ion-toolbar color="dark">
      <ion-buttons left start>
          <button icon-only ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
      </ion-buttons>
      <ion-title text-center *ngIf="getUsers" color="dark">Sent Request</ion-title>
      <ion-searchbar class="searchbar" mode="ios" *ngIf="activateSearch" (ionFocus)="keyboardListener($event)" (ionBlur)="keyboardListener($event)"></ion-searchbar>
      <ion-buttons right end>
          <button icon-only ion-button *ngIf="!getUsers" (click)="openSearch()" color="dark"> <ion-icon [name]="icon"></ion-icon> </button>
          <button icon-only ion-button menuToggle  *ngIf="getUsers" color="dark"></button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen no-bounce>
    <main class="main"></main>
      <section class="container" *ngIf="!getUsers">
        
        <div class="profile-container">
          <div class="profile">
            <img src="{{profile.image}}">
          </div>
          <div class="profile-info">
            <h4>{{profile.name}}</h4>
            <p>{{profile.address}}</p>
          </div>
          <div id="mapContainer"></div>
        </div>
        <div class="slides">
           <section class="location">
             <p>Builders in Soweto: 30</p>
           </section>
            <section class="overflow-slides">
              <div class="slides-card" *ngFor="let near of myNearBuilder">
                <div class="slide">
                  <div class="profile"><img src="../../assets/imgs/builders.png" alt=""></div>
                  <div class="information">
                    <p class="name">Khuthy</p>
                    <p class="price">R400.00</p>
                    <p class="experience">2 years Exp</p>
                  </div>
                  <div class="btn-request">
                    <p>Request</p>
                    <button ion-fab color="light"><ion-icon name="arrow-forward"></ion-icon></button>
                  </div>
                </div>
                
              </div>
              <div class="slides-card">
                  <div class="slide">
                    <div class="profile"><img src="../../assets/imgs/builders.png" alt=""></div>
                    <div class="information">
                      <p class="name">Khuthy Muenda</p>
                      <p class="price">R400.00</p>
                      <p class="experience">2 years Exp</p>
                    </div>
                    <div class="btn-request">
                      <p>Request</p>
                      <button ion-fab color="light"><ion-icon name="arrow-forward"></ion-icon></button>
                    </div>
                  </div>
                  
                </div>
                <div class="slides-card">
                    <div class="slide">
                      <div class="profile"><img src="../../assets/imgs/builders.png" alt=""></div>
                      <div class="information">
                        <p class="name">Khuthy</p>
                        <p class="price">R400.00 p/m2</p>
                        <p class="experience">2 years Exp</p>
                      </div>
                      <div class="btn-request">
                        <p>Request</p>
                        <button ion-fab color="light"><ion-icon name="arrow-forward"></ion-icon></button>
                      </div>
                    </div>
                    
                  </div>
             
            </section>
          <!-- <h3>Builders in Johannesburg 30</h3>
          <div class="slide">
                         <div class="home-builder-card" padding-bottom padding-left padding-right>
                            <div class="card-holder">
                            <div class="profile-image">
                          <img src="../../assets/imgs/builders.png" alt="">
                       </div>
                    <div class="info">
                    </div>
                    <div class="btn-request">
                      <p>Request</p>
                      <button ion-fab color="light"><ion-icon name="arrow-forward"></ion-icon></button>
                    </div>
              </div>
            </div>
          </div>
          <div class="home-builder-card" padding>
            <div class="card-holder">
              <div class="profile-image">
                <img src="../../assets/imgs/builders.png" alt="">
              </div>
              <div class="info">

              </div>
           <div class="btn-request">
                <p>Request</p>
                <button ion-fab mini color="light" (click)="request()">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </div> 
            </div>
          </div>
          <div class="home-builder-card" padding>
            <div class="card-holder">
              
            </div>
          </div>
          <div class="home-builder-card" padding>
            <div class="card-holder">
              
            </div>
          </div>  -->
        </div>
        <div class="cards">
            <div class="viewSection">
              <p>Other Builders</p>
              <p class="all" (click)="showAllBuilders()">{{btnAll}} <ion-icon [name]="iconAll"></ion-icon></p>
            </div>
            <div class="all-builders">
              <div class="card-content-container" *ngFor="let b of builder">
                  <div class="cards-builders">
                      <div class="title">
                        <p>{{b.fullName}}</p>
                      </div>
                      <div class="image"><img src="{{b.image}}" alt="khuthy"></div>
                      <div class="info-card-builder">
                          <p>{{b.price  | currency:'&#82;'}}(p/&#13217;)</p>
                          <p>{{b.experiences}} year Exp</p>
                          <p>Include Roofing</p>
                      </div>
                      <div class="londan"></div>
                      <div class="btn-request">
                          <p (click)="viewBuilderInfo(b)">Request</p>
                          <button ion-fab color="light" (click)="rShortcut(b.uid)"><ion-icon name="arrow-forward"></ion-icon></button>
                        </div>
                    </div>
              </div>
           
              
            </div>
        </div>
      </section>




       <div class="container-builders" *ngIf="getUsers">
         <!--  <div class="no-messages-builders">
           <p>You have no messages yet!</p>
         </div>  -->
   
      <div class="cards-builders-homebuilder-side"  padding>
      
        <div class="card-builders" *ngFor="let o of owner" (click)="viewRequest(o.id, o.user.uid)">
           <div class="profile-builders">
               <img src="{{o.user.image}}" alt="" (click)="viewProfile(o.user.image)">
             </div>
             <div class="info-to-card-builders">
               <h4>{{o.user.fullName}}</h4>
               <p>{{o.user.date | date}}</p>
             </div>
             <div class="btn-request-builders">
                 <p>View</p>
                 <button ion-fab color="light"><ion-icon name="arrow-forward"></ion-icon></button>
               </div>
        </div>
          
         </div>
       
       </div> 

</ion-content>  