
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #d98e04,
  secondary:  #203959,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$menu-width: 200px;


@import "ionic.theme.default";



@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
